/* Jumbo */
.jumbo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0;
  width: 85%;
  height: 100%;

}

.jumbo {
  height: 80%;
  width: 85%;
  border-radius: 4px;
  padding: .5rem;
  margin-top: 5%;
  background-color: var(--grey);
  /* background-image: url("/img/jumbo-background.svg"); */
  /* background: cover; */
  border-left: 1px solid var(--hov-color);
  border-top: 1px solid var(--hov-color);
  border-radius: 4px;
  -webkit-box-shadow: 4px 6px 5px 1px var(--main-color);
  box-shadow: 4px 6px 5px 1px var(--main-color);
}

#jumbo-title {
  position: relative;
  top: 3rem;
  left: 3rem;
  font-family: var(--font-title);
  font-size: 6rem;
  color: var(--white3);
  text-shadow: 2px 2px 1px var(--hov-color);
  text-shadow: -2px 1px 1px var(--hov-color);
}

.jumbo-text-container {
  position: relative;
  top: 5rem;
  left: 5rem;
  width: fit-content;
}

.jumbo-text {
  padding: .5rem;
  font-family: var(--font-title);
  font-size: 4rem;
}

#jumbo-text-title {
  font-size: 5rem;
}
.jumbo-list {
  position: relative;
  top: 2rem;
  left: 1rem;
}

/* Responsive */
@media (max-width: 1380px) {
 #jumbo-text-title {
  font-size: 4rem;
 }
 .jumbo-text {
  font-size: 3rem;
 }
}
@media (max-width: 1280px) {

  .jumbo {
    height: 85%;
    /* background-image: url("/img/jumbo-background-sm.svg"); */
    background-size: cover;
  }

  #jumbo-title {
    left: 1rem;
    font-size: 4rem;
  }

  .jumbo-text-container {
    top: 8rem;
    left: 1.5rem;
  }

  .jumbo-list {
    position: relative;
    top: 0;
    left: 0;
  }

  .jumbo-text {
    font-size: 2.5rem;
  }

  #jumbo-text-title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .jumbo {
    width: 100%;
    height: 80%;
    /* background-image: url("/img/jumbo-background-sm.svg"); */
    background-size: cover;
  }

  #jumbo-title {
    left: .5rem;
    font-size: 2.5rem;
  }

  .jumbo-text-container {
    top: 5rem;
    left: .5rem;
  }

  .jumbo-list {
    position: relative;
    top: 1.5rem;
    left: 0;
  }

  .jumbo-text {
    font-size: 1.25rem;
  }

  #jumbo-text-title {
    font-size: 2rem;
  }
}