/* Header */
.navbar {
  background: var(--grey);
  height: 2rem;
  padding: 1rem 2rem 0.5rem 0;
  max-width: 100%;
}

.navbar-menu-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

#lang-used {
  font-size: 1.5rem;
  margin-right: 1rem; 
  color: var(--white3);
  cursor: default
}

#lang-link {
  font-size: 1.5rem;
  color: var(--white);
}

#lang-link:hover {
  color: var(--hov-color);


}

@media (max-width: 768px) {
  .navbar {
    height: 2rem;
    padding-bottom: 1rem;
    max-width: 100%;
  }

  .navbar-menu-links {
    width: 100%;
  }

  .navbar-menu-links {
    width: 100%;
    margin: 0;
  }

  .open-responsive-menu-button {
    position: absolute;
    top: .9%;
    left: 2%;
    width: fit-content;
    height: fit-content;

  }

  .fa-bars {
    color: var(--white3);
    margin: 0;
    font-size: 2rem;
  }
}