/*Barra lateral*/

.side-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: fit-content;
  margin-left: 3%;
  border: solid 3px var(--main-color);

}

/* Botones que activan los modals y links */
.side-menu-li {
  padding: 0 1rem 4rem 1rem;
  border-radius: 4px;
  transition: all .8s;
}


/*Botones de side menu*/

.side-menu-button {
  font-family: var(--font);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  line-height: 2;
  color: var(--black);
}

/* Responsive */

@media (max-width: 1280px) {
  .side-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 90%;
    margin: auto;
    border: none;
  }

  .side-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    flex-grow: 0;
    width: 100%;
    max-height: 4rem;
    padding-bottom: 0.2rem;
    border: 10px solid var(--hov-color);
  }

  #links-li {
    /* position: absolute; */
    width: 15%;
  }
}

@media (max-width: 768px) {
  .side-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .side-menu-button {
    font-size: 1.85rem;
  }

  #links-li {
    height: fit-content;
  }

  #projects-links {
    margin: 0 1rem 2.5rem 1rem;
  }

  .skill-link {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
}