.hidden-menu-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border: 0;
  opacity: 1;
  height: 0;
  width: fit-content;
  margin: 0;
  overflow: hidden;
  z-index: -10;
}

#links-menu-container,
#contact-menu-container {
  transition: all .4s linear;
}

#links-menu-container {
  position: relative;
  left: 12%;
  line-height: 1.25;
}

.li-hidden {
  justify-self: space-around;
  font-size: 1.25rem;
  border-radius: 3px;
  width: 100%;
  border-left: 0;
  padding: .5rem;
}

.hidden-a {
  display: flex;
  flex-direction: row;
  
}

#links-li:hover #links-menu-container {
  opacity: 1;
  height: 120px;
  z-index: 5;
  width: fit-content;
}

#contact-li:hover #contact-menu-container {
  opacity: 1;
  height: 100px;
  z-index: 5;
}


/* Responsive */
@media (max-width: 1280px) {
  .hidden-menu-container {
    border-left: 1px solid var(--hov-color);
    -webkit-box-shadow: 2px 2px 2px 1px var(--main-color);
    box-shadow: 2px 2px 2px 1px var(--main-color);
    border-radius: 4px;
    background: var(--grey);
    overflow: visible;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    opacity: 1;
  }

  /* Font awesome icons  */
  .fa-brands,
  .fa-envelope {
    margin-left: 0;
  }

  #links-menu-container {
    min-width: 220%;
  }
}

@media (max-width: 768px) {

  .hidden-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    border: solid 1px var(--hov-color);
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none(--main-color);
    margin-top: 1rem;
    padding: 0;
  }

  #links-menu-container {
    position: relative;
    left: 30%;
    display: none;
  }

  #contact-menu-container {
    display: none;
  }

  .side-menu-li {
    position: fixed;
    width: auto;
  }

  #cv-selector {
    top: 20%;
  }

  #skills-selector {
    top: 35%;
  }
}

@media (max-width: 768px) {

  .hidden-menu-container {
    background: none;
    border: none;
  }

  .side-menu-list {
    min-height: 95%;
  }

  #links-menu-container {
    position: static;
    min-width: 10rem;
    max-height: fit-content;
    display: none;
    margin-top: 0;
    top: 0;
    left: 0;
  }

  #contact-menu-container {    
    display: none;
    margin-top: 50rem;
  }

  .side-menu-li {
    position: fixed;
  }

  #cv-selector {
    top: 20%;
  }

  #skills-selector {
    top: 35%;
  }

  #links-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    top: 48%;
  }

  #contact-li {
    top: 63%;
    transition: none;
  }

  .hidden-a {
    font-size: 1.15rem
  }

  .side-menu-button {
    font-size: 1.5rem;
    margin-top: .5rem;
  }
}