.hidden-menu-container {
  border: 0;
  opacity: 0;
  height: 0;
  margin: auto;
  overflow: hidden;
  height: 0;
  z-index: -10;
}

#links-menu-container,
#contact-menu-container {
  transition: all .4s linear;
}

.li-hidden {
  font-size: 1.25rem;
  border-radius: 3px;
  width: 100%;
  border-left: 0;
  font-size: 1.25rem;
  padding: .5rem;
}

.hidden-a {
  display: flex;
  flex-direction: row;
}

#links-li:hover #links-menu-container {
  opacity: 1;
  height: 120px;
  z-index: 5;
}

#contact-li:hover #contact-menu-container {
  opacity: 1;
  height: 100px;
  z-index: 5;
}


/* Responsive */
@media (max-width: 1380px) {
  .hidden-menu-container {
    border: solid 4px var(--hov-color);
    border-top: none;
    margin-top: 5%;
    background: var(--white2);
    overflow: visible;
    padding-top: 0.75rem;
    opacity: 1;
  }

  #links-menu-container {
    width: 200%;
  }
}

@media (max-width: 768px) {

  .hidden-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    border: none;
    padding: 0;
  }

  #links-menu-container {
    position: relative;
    left: -30%;
    min-width: 15rem;
    display: none;
  }

  #contact-menu-container {
    display: none;
  }

  .side-menu-li {
    position: fixed;
    width: auto;
  }

  #cv-selector {
    top: 20%;
  }

  #skills-selector {
    top: 35%;
  }
}

@media (max-width: 768px) {

  .hidden-menu-container {
    background: none;
    border: none;
  }

  #links-menu-container {
    min-width: 15rem;
    display: none;
  }

  #contact-menu-container {
    display: none;
  }

  .side-menu-li {
    position: fixed;
  }

  #cv-selector {
    top: 20%;
  }

  #skills-selector {
    top: 35%;
  }

  #links-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    top: 48%;
  }

  #contact-li {
    top: 63%;
    transition: none;
  }
}