@import 'reset.css';
@import 'variables.css';
@import 'modals.css';


/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;

}

/* Secciones */
/* Header */
.navbar {
  border: solid 4px var(--main-color);
  margin: 0;
  padding: 0.5rem;
}

.navbar-menu-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.jumbo {
  border: solid 4px var(--main-color);
  margin: 1rem;
  padding: 0.5rem;
}

#jumbo-title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-tittle);
  font-size: 4rem;
}


/* Main */
.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contents {
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 4px var(--main-color);
  margin: 1rem;
  padding: 0.5rem;
}

#professional-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-selector-container {
  border: solid 2px var(--main-color);
  border-radius: 4px;
  width: 15%;
  height: 20rem;
}

/* Botones que activan los modals */
.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}


#modal-button-skills {
  display: none;
}

/* Footer */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  border: solid 4px var(--main-color);
  padding: 0.5rem;
}

/* Modals */
.modal {
  background-color: red;
}

#modal-cv,
#modal-skills {
  border: solid 4px var(--main-color);
}

#modal-skills {
  display: none;
}

/*Contenedor de enlaces a proyectos*/

#links-projects-title{
  font-size:2rem;
  margin-top: 1.5rem;
  text-align: center;
}

#projects-links {
  margin-top: 2rem;
}

.link-li{
  display: inline-block;
  margin: 1.5rem 0 0 1rem;
  text-align: left;
}

.skill-link {
  margin: 2rem 0 0 0;
  font-size: 1.5rem;
  color: inherit;
  text-align: center;
}

/* Responsive */
@media (max-width: 900px) {

  .menu-selector-container {
    width: 30%;
    border-radius: 4px;
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  #professional-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-selector-container {
    width: 80%;
    height: 10rem;
    border-radius: 4px;
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  #modal-button-cv {
    padding: 1rem;
  }

  #projects-selector {
    height: fit-content;
    margin-bottom: 2rem;
  }

  #projects-links {
    margin: 0 1rem 2.5rem 1rem;
  }
  

  .skill-link {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: inherit;
    text-align: center;
  }

}