@import 'reset.css';
@import 'variables.css';
@import 'header.css';
@import 'content.css';
@import 'modals.css';
@import 'footer.css';




/* Main */
.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  transition: all .3s;
}




